<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


    <h3><a href="http://localhost:3000/admin_panel">Go To Administrative Panel</a></h3>

    <h3><a href="http://localhost:3000/users/">View Network Users</a></h3>

